#calculator{
    border: 1px solid rgb(164, 164, 164);
    border-radius: 5px;
    width: 200px;
}
#display{
    margin: 10px;
    width: 86%;
    font-size: 30px;
}
.button-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.button{
    height: 45px;
    width: 45px;
    margin: 4px;
}