.bag-button{
    background-color: lightgreen;
    padding: 5px 25px;
    border: none;
    border-radius: 10px;
}
.wish-button{
    background-color: #ffffff;
    padding: 5px 35px;
    border-radius: 10px;
    text-transform: uppercase;
}